extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen de la Torre Eiffel", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit, urna vitae ullamcorper iaculis, purus dui vulputate sem, eu lobortis velit elit ut velit. Aenean laoreet 

                p bibendum laoreet purus vitae semper. Vestibulum elit justo, fermentum in risus ut, condimentum suscipit lectus. Nulla magna lorem, sollicitudin ut ipsum in, ultrices vehicula lorem. Quisque eleifend a ante ac dictum. Integer feugiat est ut tempus vestibulum. Pellentesque habitant morbi tristi

                p vel nisi metus. Nullam dapibus tincidunt mi non venenatis. Donec eget elementum mauris. Quisque blandit ipsum a mauris accumsan, mollis volutpat orci pharetra. Donec sed malesuada urna, sed faucibus eros. Nam quis volutpat arcu, in finibus ex. Integer malesuada augue nibh, id fringilla enim venenatis ut.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p t ipsum a mauris accumsan, mollis volutpat orci pharetra. Donec sed malesuada urna, sed faucibus eros. Nam quis volutpat arcu, in finibus ex. Integer malesuada augue nibh, id fringilla enim venenatis ut.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p t ipsum a mauris accumsan, mollis volutpat orci pharetra. Donec sed malesuada urna, sed faucibus eros. Nam quis volutpat arcu, in finibus ex. Integer malesuada augue nibh, id fringilla enim venenatis ut.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p t ipsum a mauris accumsan, mollis volutpat orci pharetra. Donec sed malesuada urna, sed faucibus eros. Nam quis volutpat arcu, in finibus ex. Integer malesuada augue nibh, id fringilla enim venenatis ut.