doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="#")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Staatliches&family=Montserrat:wght@400&display=swap")
        title #{nombreSitio} | #{pagina}
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    //- esta class= clase, es ta clase es la variable del obj de paginasController, en el render de paginaInicio, es la clase home del CSS
    body(class= clase) 
        //- con include hacemos que es este archivo "master" que está een layout y a su vez dentro de views, se muestren el header y el footer en todas las rutas
        include header 
        //- con block hacemos que , desde aqui, llamamos a todas las vistas que tengan un extends en cada una de ellas (extends ./layout/index)
        block slider 
        block contenido 
        include footer 